$colors: (
  blue: rgb(19, 68, 119),
  light-blue: rgb(32, 100, 173),
  light-blue-hover: rgb(47, 142, 245),
  orange: rgb(238, 102, 1),
  green: rgb(71, 126, 32),
  red: rgb(251, 16, 16),
);

// Hex values
// blue: #134377
// light-blue: #2064ad
// light-blue-hover: #2c8aee
// orange: #ee6801
// green: #477e20
// red: #fb1010
